@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  font-family: "游明朝体", "Yu Mincho", YuMincho, serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #111;
  background-color: #fff;
  font-size: 1.5rem;
}

.container {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.header {
  box-shadow: 1px 1px 6px #999;
}
@media screen and ((min-width: 0px)) {
  .header {
    height: calc(75px - 1.5rem);
  }
}
@media screen and ((min-width: 1200px)) {
  .header {
    height: 75px;
  }
}
.header .container {
  display: flex;
  align-items: center;
}
.header_logo {
  flex-grow: 1;
  font-size: 3rem;
}
@media screen and ((min-width: 1200px)) {
  .header_logo {
    letter-spacing: 0.25rem;
  }
}
@media screen and ((min-width: 0px)) {
  .header_nav {
    display: none;
  }
}
@media screen and ((min-width: 1200px)) {
  .header_nav {
    display: block;
  }
}
.header_list {
  display: flex;
  gap: 1rem;
}
.header_link {
  letter-spacing: 0.25rem;
}

.mainvisual .catch-copy {
  display: flex;
  align-items: center;
}
@media screen and ((min-width: 0px)) {
  .mainvisual .catch-copy {
    height: 50vh;
    padding: 3rem 0;
    font-size: 4.5rem;
  }
}
@media screen and ((min-width: 1200px)) {
  .mainvisual .catch-copy {
    height: 80vh;
    padding: 6rem 0;
    font-size: 12rem;
  }
}

@media screen and ((min-width: 0px)) {
  .content {
    padding: 3rem 0;
  }
}
@media screen and ((min-width: 1200px)) {
  .content {
    padding: 6rem 0;
  }
}
.content_title {
  position: relative;
  text-align: center;
}
@media screen and ((min-width: 0px)) {
  .content_title {
    font-size: 2.5rem;
    margin-bottom: 3.75rem;
  }
}
@media screen and ((min-width: 1200px)) {
  .content_title {
    font-size: 3rem;
    margin-bottom: 4.5rem;
  }
}
.content_title:before {
  content: "";
  position: absolute;
  right: 50%;
  border: 1px solid #111;
  transform: translateX(50%);
}
@media screen and ((min-width: 0px)) {
  .content_title:before {
    top: 3.75rem;
    width: 5rem;
  }
}
@media screen and ((min-width: 1200px)) {
  .content_title:before {
    top: 4.5rem;
    width: 6rem;
  }
}

.footer {
  height: 45px;
}
.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright {
  font-size: 1rem;
}

.hamburger_btn {
  position: relative;
  height: calc(75px - 1.5rem);
  width: calc(75px - 1.5rem);
  z-index: 999;
}
@media screen and ((min-width: 0px)) {
  .hamburger_btn {
    display: block;
  }
}
@media screen and ((min-width: 1200px)) {
  .hamburger_btn {
    display: none;
  }
}
.hamburger_btn span {
  position: absolute;
  right: 50%;
  width: calc(75px - 3rem);
  border: 1px solid #111;
  transform: translateX(50%);
  transition: all 0.3s;
}
.hamburger_btn span:nth-child(1) {
  top: 25%;
}
.hamburger_btn span:nth-child(2) {
  top: 50%;
}
.hamburger_btn span:nth-child(3) {
  top: 75%;
}
.hamburger_btn.active span:nth-child(1) {
  top: 50%;
  transform: translateX(50%) rotate(-45deg);
}
.hamburger_btn.active span:nth-child(2) {
  opacity: 0;
}
.hamburger_btn.active span:nth-child(3) {
  top: 50%;
  transform: translateX(50%) rotate(45deg);
}
.hamburger_nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  animation: fadeout 0.3s;
}
.hamburger_nav.active {
  display: block;
  animation: fadein 0.3s;
  z-index: 998;
}
.hamburger_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100%;
}
.hamburger_link {
  font-size: 2rem;
  letter-spacing: 0.25rem;
}
@keyframes fadein {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: none;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
